* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(20, 20, 20, 0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.content-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.titulo-content {
  margin-top: 0;
}

#sind-logo,
#whapp {
  width: 75px;
  margin-right: 10px;
  margin-left: 30px;
}

.sindicato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-w {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-whatsapp {
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.btn-whatsapp svg {
  width: 44px;
  height: 44px;
  fill: #0f0f0f;
}

.btn-whatsapp:hover {
  transform: scale(1.08);
}

.header h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #2ecc71;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #2b4538, #27513c, #093921);
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
  color: #f1f1f1;
  padding: 100px 20px 90px; /* header + footer */
}

/* CARD */
.card {
  background: rgba(20, 20, 20, 0.95);
  width: 100%;
  max-width: 530px;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.55);
}

h2,
h3 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin-top: 14px;
  font-size: 15px;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: #fff;
  font-size: 17px;
}

#precoVenda {
  width: 100%;
  padding: 10px;
}

#precoSemente {
  width: 100%;
  padding: 10px;
}

button {
  margin-top: 22px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #27ae60, #2ecc71);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(135deg, #085628, #018e3b);
  color: white;
}

/* RESULTADO */
.resultado {
  margin-top: 26px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 16px;
}

.linha {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
}

.destaque {
  margin-top: 18px;
  padding: 18px;
  border-radius: 14px;
  background: rgba(46, 204, 113, 0.18);
  text-align: center;
}

.destaque strong {
  font-size: 26px;
  display: block;
  color: #2ecc71;
}

/* RANKING */
.ranking {
  margin-top: 0px;
}

.rank-item {
  background: #111;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.rank-item strong {
  color: #2ecc71;
}

.rank-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c0392b;
  border: none;
  color: #fff;
  padding: 4px 6px; /* menor */
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  width: auto; /* impede esticar */
  min-width: unset;
  margin-left: 10px;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #111;
  padding: 26px;
  border-radius: 16px;
  width: 100%;
  max-width: 520px;
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.6);
  position: relative;
}

.modal-content h3 {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 22px;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2.5px;
  text-align: center;
  background: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(6px);
  box-shadow: 0 -6px 18px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.titulo-footer {
  fonte-size: 30px;
}

@media (max-width: 890px) {
  .content-card {
    flex-direction: column;
  }
}
